[submodule "ressources/learn-python"]
	path = ressources/learn-python
	url = https://github.com/simplonco/learn-python
[submodule "exercises/python-playing-turtle"]
	path = exercises/python-playing-turtle
	url = https://github.com/simplonco/python-playing-turtle
[submodule "challenges/python-challenges"]
	path = challenges/python-challenges
	url = https://github.com/simplonco/python-challenges
